<head>
	<title>OCR card creator</title>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script type="text/javascript" src="/js/ja/ja-dict-controller.js"></script>
	<script type="text/javascript" src="/js/utils.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	No more unhandled reviews now.
</body>