{
  palette: {
    primary: blue,
    secondary: pink,
  },
}

.recording {
	background-color: red;
}

.partial {
	color: gray;
}

.band {
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	border-style:none;
}

.error {
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: rgba(255,255,102,0.5);
	display: none;
	text-align: center;
}

body {
	font-family: Sans-Serif;
	background-color: #d9d9d9;
	width:100%; 
	padding: 0; 
	margin: 0;
}

.missed {
	color: red;
}

.delete {
	text-decoration: line-through;
	color: #b3b3b3;
}

.medium {
	font-size: 1.2rem;
}

.large {
	font-size: 2rem;
}

.mdc-button.large {
	height: 48px;
}

.center {
	text-align: center;
}

.card-row {
	margin-bottom: 16px;
}

.mdc-card.transparent{
	background-color: rgba(255, 255, 255, 0.8);
}

.mdc-card.transparent.correct{
	background-color: rgba(200, 230, 201, 0.8);
}

.mdc-card.transparent.incorrect{
	background-color: rgba(255, 205, 210, 0.8);
}

.correct > div > div > .mdc-button:not(:disabled) {
	background-color: #4CAF50;
}

.incorrect > div > div > .mdc-button:not(:disabled) {
	background-color: #f44336;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary, #6200ee)
}