<div id="prompt-content" class="card-row" style="text-align:left; padding-left: 8px">
	<span id="pre-prompt-text" class="large"><%- params.prePromptText %></span>
	<!-- <button id="play-button" class="mdc-button mdc-button--raised large primary" style="width:100%"></button> -->
	<span id="prompt-text" class="large" style="display:none;"><%- params.promptText %></span>
	<span id="prompt-answer" class="large" style="display:none;"><%- params.boldedFuriganaHtml %></span>
</div>

<script type="text/javascript">
	const audioButtonContent = '<i class="fas fa-volume-up"></i>';
	getPromptPromise = () => {
		return new Promise((resolve) => {
			const playPrompt = (callback) => {
				const audio = new Audio('/audio/<%- fact.audio %>');
				audio.addEventListener("ended", function(){
					callback();
				});
				audio.play();
			};

			const playVideo = () => {
				$('#play-button').off('click');
				$('#play-button').attr('disabled', true);

				playPrompt(() => {
					$("#pre-prompt-text").hide();
					$("#play-button").hide();
					$("#prompt-text").show();

					resolve({ info: 'audio prompt complete' });
				});
			};

			replayPrompt = playPrompt;

			$('#play-button').on('click', () => {
				playVideo();
			});

			onNextContinueKeypress(audioButtonContent, playVideo);

			$(document).on("review-complete", () => {
				$('#prompt-text').hide();
				$('#prompt-answer').show();
			});
		});
	};
</script>