<div class="top-box no-dict" style="overflow-y: scroll; display:block">Hover over words to translate...</div>
<div id="container" style="display:flex; align-items:flex-end; flex-direction:column">
    <div style="flex:2; display: flex;"></div>
    <div id="output"></div>
</div>
<script type="text/javascript">
  console.log('loading hover-dictionary');

	let frequencyTimeout = null;
	let currentWord = null;

	const showDictionary = (def, xPosition, yPosition, node) => {
		$node = $(node);
    	$defContainer = $(".top-box");

    	if(def == ""){
    		return;
    	} 

    	if (def == "en"){
    		showTranslation(node);
    		return;
    	}

    	let scrollY = window.scrollY;
    	$defContainer.show();

    	if($node.closest(".top-box")[0] == $(".top-box")[0]) return;

		$defContainer.css("top", 0);
		$defContainer.css("left", 0);
  		$defContainer.html('<div class="frequency-display">getting frequency...</div> ' + def);
  		$defContainer.css("height", "auto");
  		let width = $defContainer.width();
  		let height = $defContainer.height();
  		let top = yPosition - height - 20 + scrollY;
  		if (height + top - scrollY < 100) {
      		$defContainer.css("top", top + height + 48);
  		} else {
      		if (top < scrollY) {
      			height += top - scrollY;
      			$defContainer.css("height", height);
      			top = scrollY;
      		}
      		$defContainer.css("top", top);
      	}
      	$defContainer.css("left", Math.min(xPosition, $(window).width() - width - 32));

    	// window.scrollTo(0, scrollY + 30);
	};	

	$(document).on("definition-changed", (e, def, xPosition, yPosition, node, word, length) => {
    	showDictionary(def, xPosition, yPosition, node);

    	if(frequencyTimeout) clearTimeout(frequencyTimeout);
    	if(word){
    		currentWord = word;
            $(document).trigger('sentence-word-selected', [ node ]);

    		frequencyTimeout = setTimeout(() => { 
    			$.get('/frequency', { text: word }, (res) => {
    				$('.frequency-display').text(res);
    			});
    		}, 0.5);
        } else {
            $(".top-box").hide();
        }
    });

    $(document).click(() => {
    	$(".top-box").hide();
    });
</script>