<div class="band" style="text-align:center; font-size: 2rem">
	<i class="fas fa-volume-up"></i>
</div>
<br>
<div class="band" id="play-band" style="text-align:center; font-size: 2rem"><button id="begin-input" style="text-align:center; font-size: 2rem"><i class="fas fa-play"></i></button></div>
<div class="error"></div>
<div style="height: 100px;"></div>
<div id="correct-answer" class="band" style="display: none; font-style: italic; text-align: center; font-size: 2em"><%= fact.word %><br><%= fact.sentence %></div>
<div id="continue" class="band" style="display: none; font-style: italic; text-align: center; font-size: 2em">Do you know the meaning of this Kanji? <br> <button id="meaning-0" style="font-size: 1em">No</button><button id="meaning-1"  style="font-size: 1em">Yes</button></div>