<div style="max-width: 900px; margin:auto; overflow: hidden">
	<div style="height: calc(100% - 200px)"></div>

	<%- include('recall-review-prompt') %>
	<br>
	<%- include('recall-review-response') %>

	<div id="continue" class="band" style="display: none; font-style: italic; text-align: center">Press enter or click to continue... (<%= reviewProgress.nowReviews %> remaining) <button id="delete-review">delete</button> <button class="post-play-button"><i class="fas fa-volume-up"></i></button></div>
</div>

<%- include('review-image') %>