<div style="max-width: 900px; margin:auto; overflow: hidden">
	<div style="height: calc(100% - 200px)"></div>

	<%- include('recall-review-prompt') %>
	<br>
	<%- include('recall-review-response') %>

	<%- include('continue-band', { reviewProgress: reviewProgress }) %>
</div>

<%- include('review-image') %>